<div>Log a Transaction :</div>

<form onSubmit="return false;">

<table>
	<tr>
		<td><label for="amount">Amount</label></td>
		<td><input name="amount" type="text"></input></td>
	</tr>
	<tr>
		<td><label for="description">Description</label></td>
		<td><input name="description" type="text"></input></td>
	</tr>	
	<tr>
		<td><label for="category">Category</label></td>
		<td><span class="category-container"></span></td>
	</tr>
</table>
	<input type="submit" value="Add"/>
	<span class="message-container"></span>
</form>
