<div>I am the add view</div>

<form onSubmit="return false;">
<div>
	<label for="amount">Amount</label>
	<input name="amount" type="text"></input>
</div>

<div>
	<label for="description">Description</label>
	<input name="description" type="text"></input>
</div>

<div class="category-container">
	<label for="category">Category</label>
</div>
	<input type="submit" value="Add"/>
</form>