@import 'nib'

.page-container
  width 551px
  margin 0 auto
  padding 5px
  font-size 24px
  background-color #fff
  border-bottom 2px solid #427684
  font-weight 300
  font-size 1.25rem
  line-height 2.2
  td
    padding 5px